.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputBar {
  display: flex;
  height: 40px;
  margin-bottom: 20px;
}

.label {
  padding-right: 20px;
  font-weight: 600;
  display: flex;
}

.button {
  height: 30px;
  margin-left: 130px;
}

.left {
  margin-top: 30px;
  width: 50%;
  float: left;
}
.right {
  margin-top: 30px;
  width: 50%;
  float: left;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100px;
  margin-bottom: 10px;
}

.icon {
  padding: 8px;
  color: black;
  min-width: 50px;
  text-align: center;
}

.input-field {
  display: flex;
  width: 200px;
  padding-left: 40px;
  text-align: left;
}
